body {
background: url("Blue-rule.png");
}


ul {
  position:absolute;
  top:50px;
  left:300px;
}

img {
  position:absolute;
  top:50px;
  left:50px;
}

p {
  position:absolute;
  top:250px;
  left:50px;
  right:50px;
}

